<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancelar()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Cliente</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirmar()" [strong]="true">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input labelPlacement="stacked" label="Código" [(ngModel)]="codigo" placeholder="Digite o código"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" label="Nome" [(ngModel)]="nome" placeholder="Digite o nome do produto"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" label="Quantidade em estoque" [(ngModel)]="quantidade" placeholder="Digite a quantidade em estoque"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" label="Preço" [(ngModel)]="preco" placeholder="Digite o preço"></ion-input>
  </ion-item>
</ion-content>

